node_modules/
dist/
.astro/
.netlify/

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

/*.png
/lh-*.json
/test-artifacts/
/public/music/*
!/public/music/tropical tech house mix vol.2/
!/public/music/tropical tech house mix vol.2/**

.DS_Store
Thumbs.db
